# Question 1

In [7]:
list_1 = ['kofi', 'ama', 1.5, 2.2, 3.4, 4.9, 5.0, 20, 30, 40, 50 ]   # list of 2 strings,5 floats and 4 integers
list_1

['kofi', 'ama', 1.5, 2.2, 3.4, 4.9, 5.0, 20, 30, 40, 50]

In [8]:
Dtypes = []                                                         # append list_1 into new list called Dtypes
Dtypes.append(list_1)
Dtypes

[['kofi', 'ama', 1.5, 2.2, 3.4, 4.9, 5.0, 20, 30, 40, 50]]

# Question 2

In [13]:
list_2 = [x for x in range(5, 20, 2)]
list_2

[5, 7, 9, 11, 13, 15, 17, 19]

# Question 3

In [65]:
# if the number in list_2 is divisible by 3,print 'it is even'
for x in list_2:
    
    if x%3 == 0:
        print(str(x) + " it is even")
    else:
        print("It is not even")

It is not even
It is not even
9 it is even
It is not even
It is not even
15 it is even
It is not even
It is not even

# Question 4

In [64]:
# create a variable and print it together with a set of strings
ada = "Ada"
dis_from_accra = 30
print(ada + " is " + str(dis_from_accra) + "km" + " from Accra")

Ada is 30km from Accra

# Question 5

In [63]:
# create list for each data type
Essentials = [False, 24, "Books",  "Phone", 10.5, "Gh_cedi", "Laptop", True, "Shelter", "Food", 15, "Job", '54m', 20, 7.5, 23, 40, 9.0, 32, 48]

bool_dtype = []
str_dtype = []
flt_dtype = []
int_dtype = []

for x in Essentials:
    if isinstance(x, bool):
        bool_dtype.append(x)
    elif isinstance(x, str):
        str_dtype.append(x)
    elif isinstance(x, float):
        flt_dtype.append(x)
    else:
        int_dtype.append(x)    
        
print(bool_dtype)
print(str_dtype)
print(flt_dtype)
print(int_dtype)

[False, True]
['Books', 'Phone', 'Gh_cedi', 'Laptop', 'Shelter', 'Food', 'Job', '54m']
[10.5, 7.5, 9.0]
[24, 15, 20, 23, 40, 32, 48]

# Question 6

In [66]:
print(Essentials.index("Shelter"))             # print index for shelter

8

In [60]:
print(Essentials.index(20))

13

In [61]:
print(Essentials.index(1))

7

In [62]:
Essentials[14]

7.5